<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bluin.dao.mapper.SpaMapper">
	<insert id="insert" parameterType="String">
		INSERT INTO
		spaData(spaGroup,spaName,stateCd,stayType,spaType,spaLank,hotType,hotTemp,hotMemo,spaAddr,spaMemo,spaUrl)
		VALUES(#{spaGroup},#{spaName},#{stateCd},#{stayType},#{spaType},#{spaLank},#{hotType},#{hotTemp},#{hotMemo},#{spaAddr},#{spaMemo},#{spaUrl})
	</insert>
	<delete id="delete">
		DELETE FROM spaData
	</delete>
</mapper>